@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap');





.roboto {
  font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 40px;
opacity: 50%;
}





body {
  margin: 0;
  font-family: "Poppins",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffff;
 
  background-repeat: no-repeat;


  color: white;
}


.back-png {

  
    background-image: url("/public/assets/images/fusionara.png") ;
    background-size: cover;
    object-fit: cover;
    height: 80vh;
    width: 100%;
}

.second-div {
  /* background-color: #F3E7BD ; */
  background-image: url("/public/assets/images/second-div.png");
  background-size: cover;
  object-fit: cover;
  height: 65vh;
  width: 35%;
  position: relative;
  left: 60%;
  top: 100%;

}

.what {
  position: relative;
  top: 140%;
  right: 70%;
  font-size: 36px;
  font-family: "Inter";
  font-weight: 300;
}
.what-2 {
  position: relative;
  top: 200%;
  right: 70%;
  font-family: "Roboto";
 font-size: 80px;
  font-weight: 700;
  font-style: italic;
}
.what-3 {
  position: relative;
  top: 300%;
  right: 70%;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  
}

.hero-img {
  background-image: url("/public/assets/images/hero.png");
  background-size: cover;
  object-fit: cover;
  height: 90vh;
  width: 35%;
  position: relative;
  left: 10%;
  top: 300%;
}

.what-hero {
  position: relative;
  top: 400%;
  left: 80%;
  font-size: 36px;
  font-family: "Inter";
  font-weight: 300;
}

.what-hero-2 {
  position: relative;
  top: 420%;
  left: 80%;
  font-family: "Roboto";
 font-size: 100px;
  font-weight: 700;
  font-style: italic;
}

.what-hero-3 {
  
    position: relative;
    top: 450%;
    left: 80%;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 24px;
    
}

.moving {
  position: relative;
  left: 6%;
  width: 90%;
}

.frog {
 position: relative;
 top: 550%;
 right: 80%;
}

.oni {
  position: relative;
  top: 518%;
  left: 130%;
}

.orb {
  position: relative;
  top: 488%;
  left: 340%;
}

/* .image-1 {
  position: relative;
  top: 500%;
} */


/* .frogclass {
  background-image: url("/public/assets/images/frog.png");
  background-color: black;
} */